@media screen and (min-width: 320px) and (max-width: 480px) {
  .signupFormContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }

  .signupForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 10vh;
    background-color: white;
  }

  .signupHeader {
    text-transform: capitalize;
    margin-bottom: 15px;
    font-size: 26px;
  }

  .signupFormGridContainer {
    display: grid;
    grid-template-rows: 50fr 50fr;
    width: 90%;
  }

  .accountForm,
  .personalForm {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .accountForm h2,
  .personalForm h2 {
    text-transform: capitalize;
    font-size: 20px;
  }

  .accountFormRow {
    display: flex;
    width: 100%;
  }

  .signupInputContainer {
    margin-bottom: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .emailInputContainer .signupInputContainer {
    width: 100%;
  }

  .signupButton {
    margin-top: 20px;
    color: white;
    border: none;
    border-radius: 5px;
    text-transform: capitalize;
    transition-duration: 1s;
    padding: 10px 20px;
    height: 40px;
    background-color: green;
    font-size: 14px;
  }

  .loginLinkContainer {
    margin-top: 50px;
    display: flex;
    margin-bottom: 100px;
  }

  .loginLink {
    margin-left: 10px;
    color: blue;
  }
}
