@media screen and (min-width: 320px) and (max-width: 480px) {
  .dietlogs {
    width: 95vw;
    margin: 1vh auto 0;

    .date-select {
      width: 40%;
      margin-right: 5px;
    }

    .headers {
      justify-items: center;
      font-size: 12px;
    }

    .logs {
      height: 15vh;
    }
  }
}
