@media screen and (min-width: 320px) and (max-width: 480px) {
  .body-info {
    width: 98%;
    margin-top: 20px;

    h5 {
      font-size: calc(1.25em + 0.75vw);
    }

    .diet-select {
      flex-direction: column;
      align-items: center;
    }
  }
}
