.delete-food {
  width: 35vw;
  min-height: 30vh;
  padding: 30px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background: rgb(122, 127, 148);
  border-radius: 20px;

  display: flex;
  flex-direction: column;

  .buttons {
    display: flex;
    width: 285px;
    justify-content: space-between;
    position: fixed;
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);

    button {
      padding: 10px 25px;
      width: 135px;
      color: white;
      border: none;
      border-radius: 12px;
      text-transform: capitalize;
      transition-duration: 1s;
    }

    .cancel-button {
      background-color: rgba(197, 78, 78, 0.9);

      &:hover {
        background-color: rgb(193, 50, 50);
      }
    }

    .delete-button {
      background-color: rgba(58, 162, 58, 0.9);

      &:hover {
        background-color: rgb(48, 188, 48);
      }
    }
  }
}
