@media screen and (min-width: 320px) and (max-width: 480px) {
  .log-food {
    width: 80vw;
    height: 400px;

    .form-container {
      display: grid;
      grid-template-columns: 40fr 60fr;

      .headers,
      .inputs {
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
    }
  }
}
