@media screen and (min-width: 320px) and (max-width: 480px) {
  .pantry {
    width: 95vw;
    height: 25vh;
    border-radius: 10px;

    h5 {
      font-size: 18px;
    }
  }

  .headers-container {
    font-size: 14px;
    grid-template-columns: 35fr 25fr 20fr 20fr;
  }

  .foods-container {
    height: 65%;
  }
}
